.alert span {
  margin-right: 15px;
}

body {
  overflow: hidden;
  box-sizing: border-box;
}

section {
  background-color: #efefef;
}

a:hover {
  color: black;
}

.right_bar {
  padding: 20px;
  background-color: #000;
  height: 98vh;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 5px 4px 10px 2px rgba(171, 171, 171, 0.38);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center_bar {
  padding: 20px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 4px 10px 2px rgba(171, 171, 171, 0.38);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add_link_section {
  padding: 15px;
}

.add_link {
  background-color: #8d35f2;
  color: #fff;
  font-weight: bold;
  display: block;
  width: 100%;
  border-radius: 20px;
}

.left-btn {
  border-radius: 20px;
  color: #000;
  margin-right: auto;
  background-color: #fff;
}

.left-btn:hover {
  background-color: #efefef;
  color: #000;
}

.right-btn {
  border-radius: 20px;
  color: #000;
  border: none;
  background-color: #fff;
  margin-left: auto;
}

.right-btn:hover {
  background-color: #fff;
  color: #000;
  text-decoration: underline;
}

.button-space {
  border-radius: 12px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.login_left {
  background-color: #fff;
  height: 98vh;
  padding: 0px;
  margin: 0px;
}

.login_right {
  background-color: #E9C0E9;
  height: 98vh;
  padding: 0px;
  margin: 0px;
}

.left_bar {
  padding: 20px;
  background-color: #fff;
  height: 98vh;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 5px 4px 10px 2px rgba(171, 171, 171, 0.38);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left_bar .list .list_items {
  margin: 5px 0px;
}

.left_bar .list .list_items .menu_item {
  font-size: 16px;
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out;
}

.left_bar .list .list_items .menu_item:hover {
  background-color: rgb(239, 239, 239);
}

.left_bar .list .list_items .menu_item.active {
  background-color: rgb(239, 239, 239);
  position: relative;
  color: rgb(141, 53, 242);
}

.left_bar .list .list_items .menu_item.active::before {
  content: "";
  border-left: 6px solid rgb(141, 53, 242);
  position: absolute;
  top: 0;
  left: -20px;
  height: 100%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.left_bar .list .list_items .menu_item i {
  padding-right: 10px;
}

.left_bar .logo {
  padding-left: 12px;
  margin-bottom: 15px;
}

.left_bar .bottom_links {
  font-size: 18px;
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 30px;
  margin: 10px 0px;
  transition: background-color 0.3s ease-in-out;
}

.left_bar .bottom_links.bg {
  background-color: rgb(239, 239, 239);
  text-align: center;
  font-weight: 600;
}

.left_bar .bottom_links.bg:hover {
  background-color: #d6d6d6;
  color: #fff;
}

.left_bar .bottom_links.border_line {
  border: 1px solid rgba(148, 148, 148, 0.616);
  transition: background-color 0.3s ease-in-out;
}

.left_bar .bottom_links.border_line:hover {
  background-color: rgb(239, 239, 239);
}

.left_bar .bottom_links.border_line .first_letter {
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.left_bar .bottom_links.bg:hover {
  background-color: rgb(141, 53, 242);
  color: #fff;
}

.left_bar .bottom {
  position: relative;
}

.left_bar .info_modal {
  display: none;
  position: absolute;
  bottom: 40%;
  left: 15%;
  z-index: 999;
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 5px 4px 10px 2px rgba(171, 171, 171, 0.38);
  transition: box-shadow 0.3s ease-in-out;
}

.left_bar .info_modal .border_line {
  font-size: 14px;
}

.left_bar .info_modal .bottom_links {
  display: flex;
  align-items: center;
  border: none;
}

.left_bar .info_modal .border_line .first_letter {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
}

.left_bar .info_modal .bottom_links .name {
  font-weight: 500;
}

.left_bar .info_modal .bottom_links .link {
  color: #929292;
}

.left_bar .info_modal .bottom_links.bg {
  background-color: transparent;
  border: 2px solid rgb(239, 239, 239);
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.left_bar .info_modal .bottom_links.bg:hover {
  background-color: rgb(239, 239, 239);
  color: #fff;
}

.left_bar .modal_wrapper_link {
  padding-top: 20px;
}

.left_bar .modal_wrapper_link .title {
  font-size: 16px;
  font-weight: 600;
  color: rgb(71, 71, 71);
  padding-left: 12px;
}

.left_bar .info_modal .list .list_items .menu_item {
  color: rgb(71, 71, 71);
  font-weight: 500;
}

.alert {
  border: none;
  border-radius: 12px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.alert button {
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.switch-link-shop {
  padding: 15px;
}

.userinfo {
  height: 1.25rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 12px;
}

.list-row .list-item {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.list-item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.user-handle {
  padding: 15px;
}

.drag-user {
  padding: 15px;
  border-radius: 20px;
}

.login-button {
  border-radius: 20px;
  background-color: #8d35f2;
}

.login-button-google {
  border-radius: 20px;
  background-color: #fff;
  color: #000;
}

.close_admin_btn{
  position: absolute;
  left: 0px;
  top: 20px;
  background-color: #8d35f2;
  padding: 0px 8px;
  border: none;
  color: #fff;
}

.first_col, .second_col {
  transition: all 0.4s ease;
}


@-webkit-keyframes movingTab {
  0% {
      transform: translateX(0%);
  }
  50% {
      transform: translateX(-10%);
  }
  100% {
      transform: translateX(0%);
  }
}

@keyframes movingTab {
  0% {
      transform: translateX(0%);
  }
  50% {
      transform: translateX(-10%);
  }
  100% {
      transform: translateX(0%);
  }
}

.tabs {
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

.tabs .tabs--list {
  display: inline-block;
  margin: auto;
  position: relative;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 0px;
}

.tabs .tabs--list li {
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  position: relative;
  z-index: 2;
}

.tabs .tabs--list li a {
  display: block;
  padding: 12px 0 14px;
  font-size: 18px;
  line-height: 26px;
  color: #000; 
  transition: color ease 0.7s, box-shadow 0.5s;
  text-align: center;
  text-decoration: none;
}

.tabs .tabs--list li a:hover {
  box-shadow: 0 24px 18px -15px rgba(0,0,0,0.09);
}

.tabs .tabs--list li a.actived {
  color: #fff;
}

.tabs .tabs--list li a.actived:hover {
  box-shadow: none;
}

.tabs .tabs--list li.moving-tab {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 110%;
  top: -5%;
  background-color: #000;
  box-shadow: 0 24px 18px -15px rgba(117, 60, 148, 0.45);
  transition: left 0.7s, box-shadow 0.5s;
  z-index: 1;
  border-radius: 50px;
}

.tabs .tabs--list li.moving-tab:hover {
  box-shadow: 0 24px 18px -15px rgba(117, 60, 148, 0.65);
}

.tabs .tabs--list li.moving-tab .moving-tab--interaction {
  animation: movingTab 0.4s forwards;
  transition: left 0.4s cubic-bezier(0.29, 1.42, 0.79, 1);
}

.tabs .tabs--content {
  text-align: left;
  padding: 25px 0px;
}

.tabs .tabs--content li {
  display: none;
}

.tabs .tabs--content li.actived {
  display: block;
}
/****/
.button-space .right-btn {
  float: right;
}
.fallback-img img {
  width: 100%;
}