.pricing-section {
  background-image: url('/public/images/ft_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 1.5rem;
}

.package-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.package-price {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #007bff;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
  text-align: center;
}

.list-group-item {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 1.5rem;
  }
}
